body {
    transition: .3s ease all;
}



.modo {   
    background: #343D5B;
    cursor: pointer;
    border-radius: 1000px;
    border: none;
    position: relative;
    display: flex;
    outline: none;
    
}

.modo span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}


.modo::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.modo.active {
    background: orange;
    color: #000;
}

.modo.active::after {
    right: 0;
    left: unset;
}

.dark{
    background: rgb(0, 0, 0);
}




.dark body {
    background-color: white;
    color: gray;
}
.dark h5{
    color: white;
}
.dark h1{
    color: white;
}
.dark h4{
    color: white;
}
.dark h3{
    color: rgb(255, 255, 255);
}
.dark #modo{
    color: orange;
}
.dark .card{
    background: rgb(24, 21, 21);
}
.dark a{
    color: rgb(255, 255, 255);
}
.dark span{
    color: white;
}
.dark .container-fluid{
    background: rgb(0, 0, 0);
}
.dark .bg-light{
    color: rgb(0, 0, 0);
}
.dark .dropdown-item{
    color: rgb(0, 0, 0);
}
.dark .col-md-6{
    color: rgb(255, 255, 255);
}
.dark .col-md-4{
    color: rgb(255, 255, 255);
}
.dark .col-md-2{
    color: rgb(255, 255, 255);
}
.dark .mb-3{
    color: rgb(255, 255, 255);
}
.dark svg{
    color: rgb(255, 255, 255);
}
.dark li{
    color: rgb(255, 255, 255);
}
.dark p{
    color: white;
}