        
<div class="col d-flex justify-content-center mb-4">
    <div class="card" style="width: 20rem;">
        {% if product.image %}
        <img src="{{ product.image.url }}" class="card-img-top" alt="Imagen del producto">
        {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <br>
            <br>
            <h3 class="fw-bold">${{ product.price }}</h3>
            <a href="{% url 'product' product.slug %}" class="btn btn-outline-success">Ver producto</a>
            </div>
    </div>                  
    </div>